Repository PowerGridModel/power-grid-model, pull requests merged in 2025-06, with the labels that each got.

#1007 Current sensor: remove experimental flag for ILSE
  docs/user_manual/calculations.md
  docs/user_manual/components.md
  power_grid_model_c/power_grid_model/include/power_grid_model/main_model_impl.hpp
  tests/data/state_estimation/current-sensor/global-current-sensor/params.json
  tests/data/state_estimation/current-sensor/local-current-sensor/params.json
  tests/native_api_tests/test_api_model.cpp
  tests/unit/test_error_handling.py
Labels: feature

#1012 Documentation: markdown sentences new line
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/advanced_documentation/build-guide.md
  docs/advanced_documentation/c-api.md
  docs/advanced_documentation/high-level-design.md
  docs/advanced_documentation/native-data-interface.md
  docs/algorithms/lu-solver.md
  docs/api_reference/python-api-reference.md
  docs/index.md
  docs/quickstart.md
  docs/user_manual/calculations.md
  docs/user_manual/components.md
  docs/user_manual/data-model.md
  docs/user_manual/data-validator.md
  docs/user_manual/dataset-terminology.md
  docs/user_manual/model-validation.md
  docs/user_manual/serialization.md
  tests/data/power_flow/pandapower/components/symmetric/three_winding_transformer/README.md
  tests/data/state_estimation/current-sensor/power-from-global-current-sensor/README.md
  tests/data/state_estimation/current-sensor/power-from-local-current-sensor/README.md
Labels: documentation

#1014 Documentation: fix typos in docs (also docstrings + comments in code)
  docs/advanced_documentation/build-guide.md
  docs/examples/Asymmetric Calculation Example.ipynb
  docs/examples/Power Flow Example.ipynb
  docs/index.md
  docs/user_manual/calculations.md
  docs/user_manual/dataset-terminology.md
  docs/user_manual/model-validation.md
  power_grid_model_c/power_grid_model/include/power_grid_model/common/grouped_index_vector.hpp
  power_grid_model_c/power_grid_model/include/power_grid_model/common/statistics.hpp
  power_grid_model_c/power_grid_model/include/power_grid_model/math_solver/iterative_current_pf_solver.hpp
  power_grid_model_c/power_grid_model/include/power_grid_model/math_solver/newton_raphson_se_solver.hpp
  tests/data/power_flow/pandapower/components/symmetric/three_winding_transformer/README.md
Labels: documentation

#1016 Linting and Formatting: adding multiple non-failing ruff linting codes
  pyproject.toml
Labels: improvement

#1006 Documentation: add advanced programming terminology documentation
  docs/advanced_documentation/terminology.md
  docs/index.md
  docs/user_manual/components.md
Labels: documentation

#1017 Test case creation: add helper function to create test case
  src/power_grid_model/utils.py
  tests/unit/test_utils.py
Labels: feature
